@charset "utf-8";
/* CSS Document */

*
{
	color: #6F9;
	font-family: consolas;
}

b
{
	font-size:24px;
}

img.img
{
	position:fixed;
	left: 865px;
	top: 250px;
	height: 25%;
	width: 20%;
}

img.g
{
	left:400px;
	top:130px;
	width:640px;
	height:480px;
	z-index:200;
	z-index:500;
	cursor:default;
	border:1px
	solid #fff;
}

img.l
{
	border: hidden;
	width:150px;
	height:100px;
}

img.s
{
	width:100px;
	height:100px;
	border:1px
	solid #fff;
}

body
{
	margin-top: 0px;
	background-image:url(../images/bg.gif);
	background-repeat:repeat;
	min-width: 1280;
	min-height: 720;
}

#header
{
	background-image:url(../images/bg.gif);
	background-repeat:repeat;
	height:100px;
	width:100%;
	position:fixed;
}

#blae
{
	background-image:url(../images/tmp2_02.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top: 35px;
	position:fixed;
	min-width: 1280px;
	min-height: 186px;
}

#cont
{
	padding-left: 50px;
	padding-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 250px;
	max-width: 1090px;
	min-height: 500px;
	display: block;
}

#int
{
	background-image:url(../images/tmp2_03.png);
	background-repeat:no-repeat;
	background-color:#000;
	min-height: 241px;
	min-width: 1280px;
	position:fixed;
	bottom:0px;
}

.right
{
	position: fixed;
	left: 800px;
	top: 220px;
}

p.glow
{
	text-align:center;
	font-size: 32px;
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(rgba(0,0,0,0.1)));
}

.glow
{
	margin: 25px;
	opacity: 0.8;
	border: 0px solid #eee;
 
	/*Transition*/
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(0,0,0,0.3)));
}

.reflect
{
	margin: 25px;
	opacity: 1;
	border: 0px solid #eee;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1.3, transparent), to(rgba(0,0,0,0.3)));
}
 
 
.glow:hover
{  
   opacity: 1;
 
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(1.3, transparent), to(rgba(0,0,0.7,0.3)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
  box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
}

#menu a {
   position: absolute;
   height: 71px;
   width: 77px;
   top: 31px; 
   text-decoration: none;
   }

#menu a i { visibility: hidden; }

#menu2 a {
   position: absolute;
   height: 52px;
   width: 58px;
   top: 31px; 
   text-decoration: none;
   }

#menu2 a i { visibility: hidden; }

#menu3 a {
   position: absolute;
   height: 30px;
   width: 110px;
   top: 31px; 
   text-decoration: none;
   }

#menu3 a i { visibility: hidden; }

#menu4 a {
   position: absolute;
   height: 25px;
   width: 130px;
   top: 31px; 
   text-decoration: none;
   }

#menu4 a i { visibility: hidden; }

a#about { left: 164px; top: 83px; }
a#gallery { left: 227px; top: 43px; }
a#contacts { left: 227px; top: 120px; }
a#port { left: 351px; top: 43px; }
a#fave { left: 290px; top: 5px; }
a#home { left: 300px; top: 92px; }
a#reg { left: 487px; top: 73px; }
a#reg2 { left: 392px; top: 146px; }

a#about:hover { background-image:url(../images/about.png); }
a#gallery:hover { background-image: url(../images/gallery.png); }
a#contacts:hover { background-image: url(../images/contact.png); }
a#port:hover { background-image: url(../images/port.png); }
a#fave:hover { background-image: url(../images/fave.png); }
a#home:hover { background-image: url(../images/sglow.png); }
a#reg:hover { background-image:url(../images/reg.png); }
a#reg2:hover { background-image: url(../images/reg2.png); }

a#about:hover,
a#gallery:hover, 
a#contacts:hover, 
a#port:hover, 
a#fave:hover,   
a#home:hover, 
a#reg2:hover,
a#reg:hover { border: none; } 

_______________________________________________

/* Custom checkbox and radio styles */

fieldset
{
	margin: 1em;
	padding: 20px;
}	
fieldset p
{
	display: block;
	position: static;
	overflow: hidden;
}

fieldset input[type=button]
{
	color: #060;
}
fieldset input[type=text],
fieldset input[type=password],
fieldset input[type=date],
fieldset input[type=number],
fieldset input[type=email]
{
	color: #060;
	border: 1px solid #ccc;
	line-height: 20px;
	padding: 3px;
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

label + p,
input + p
{
	margin-top: 20px;
}

p > input
{
	padding: 0;
	margin: 0;
	height: 16px;
	width: 16px;
	float: left;
	position: absolute;
	left: 0;
	opacity: 0;
}
p > label 
{ 
	float: left; 
	line-height: 16px; 
	color: #fff; 
	padding: 0 0 0 18px;
	-moz-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	transition: color 1s ease; 
}
p:not(#foo) > input:hover + label, p:not(#foo) > input:focus + label,
p:not(#foo) > input + label:hover, p:not(#foo) > input:focus + label			{ text-shadow: 1px 1px 3px #000; color: #2C7AD0; }

p:not(#foo) > input + label
{
	background:url(../../css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
	height: 16px;
}
p:not(#foo) > input[type=radio] + label										{ background-position: 0 -161px; }

/* Checked styles */
p:not(#foo) > input[type=radio]:checked + label 							{ background-position: 0 -241px; }
p:not(#foo) > input[type=checkbox]:checked + label 							{ background-position: 0 -81px; }
p:not(#foo) > input[type=checkbox]:hover:checked + label,
p:not(#foo) > input[type=checkbox]:focus:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover,
p:not(#foo) > input[type=checkbox]:focus:checked + label 					{ background-position: 0 -101px; }
p:not(#foo) > input[type=radio]:hover:checked + label,
p:not(#foo) > input[type=radio]:focus:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover,
p:not(#foo) > input[type=radio]:focus:checked + label 						{ background-position: 0 -261px; }

/* Hover & Focus styles */
p:not(#foo) > input[type=checkbox]:hover + label,
p:not(#foo) > input[type=checkbox]:focus + label,
p:not(#foo) > input[type=checkbox] + label:hover 							{ background-position: 0 -21px; }
p:not(#foo) > input[type=radio]:hover + label,
p:not(#foo) > input[type=radio]:focus + label,
p:not(#foo) > input[type=radio] + label:hover								{ background-position: 0 -181px; }

/* Active styles */
p:not(#foo) > input[type=checkbox]:active + label,
p:not(#foo) > input[type=checkbox] + label:hover:active						{ background-position: 0 -41px; }
p:not(#foo) > input[type=radio]:active + label,
p:not(#foo) > input[type=radio] + label:hover:active						{ background-position: 0 -201px; }
p:not(#foo) > input[type=checkbox]:active:checked + label,
p:not(#foo) > input[type=checkbox]:checked + label:hover:active				{ background-position: 0 -121px; }
p:not(#foo) > input[type=radio]:active:checked + label,
p:not(#foo) > input[type=radio]:checked + label:hover:active				{ background-position: 0 -281px; }

/* Disabled styles */
p:not(#foo) > input[type=checkbox]:disabled + label,
p:not(#foo) > input[type=checkbox]:hover:disabled + label,
p:not(#foo) > input[type=checkbox]:focus:disabled + label,
p:not(#foo) > input[type=checkbox]:disabled + label:hover,
p:not(#foo) > input[type=checkbox]:disabled + label:hover:active			{ background-position: 0 -61px; }
p:not(#foo) > input[type=radio]:disabled + label,
p:not(#foo) > input[type=radio]:hover:disabled + label,
p:not(#foo) > input[type=radio]:focus:disabled + label,
p:not(#foo) > input[type=radio]:disabled + label:hover,
p:not(#foo) > input[type=radio]:disabled + label:hover:active				{ background-position: 0 -221px; }
p:not(#foo) > input[type=checkbox]:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:hover:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:focus:disabled:checked + label,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover,
p:not(#foo) > input[type=checkbox]:disabled:checked + label:hover:active	{ background-position: 0 -141px; }
p:not(#foo) > input[type=radio]:disabled:checked + label,
p:not(#foo) > input[type=radio]:hover:disabled:checked + label,
p:not(#foo) > input[type=radio]:focus:disabled:checked + label,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover,
p:not(#foo) > input[type=radio]:disabled:checked + label:hover:active		{ background-position: 0 -301px; }

_____________________________________________________

.g2 {
font-family: verdana, arial, sans-serif; 
width:673px;
height:31px;
background:#fff;
padding:0;
margin:0 auto; 
position:relative;
z-index:1;
border-bottom:20px solid #333;
margin-bottom:650px;
}

/* remove the bullets and set the margin and padding to zero for the unordered list */
.g2 ul {
padding:0; 
margin-top:50px;
list-style-type: none;
border:0;
}
/* float the list so that the items are in a line */
.g2 ul li {
display:block;
float:left;
width:51px;
height:31px;
}
/* style the links to be 50px wide by 31px high with a right border 1px solid white. Set the background color and the font size. */
.g2 ul li a, .g2 ul li a:visited {
display:block; 
float:left;
text-align:center; 
text-decoration:none; 
width:50px; 
height:31px; 
color: #000;
border-right:1px solid #fff;
background: #9F9; 
line-height:30px; 
font-size:11px;
}

/* clear the float at the end of each line of four slides */
span.clr {display:block; clear:both; width:0; height:0; font-size:0; line-height:0;}

/* make the dropdown ul invisible */
.g2 ul li ul {
display: none;
}

/* remove the table styling */
table {
border-collapse:collapse;
margin:0; 
padding:0;
}


/* specific to non IE browsers */
/* set the background and foreground color of the main menu li link on hover */
.g2 ul li:hover a{
color:#fff; 
background:#000;
cursor:default;
}

/* make the sub menu ul visible and position it beneath the first list item */
.g2 ul li:hover ul {
text-align:left;
display:block; 
position:absolute; 
top:31px; 
left:0;
}

/* make the sub menu ul li the full width with padding and border. */
.g2 ul li:hover ul li {
cursor:pointer;
position: absolute;
left: 155px;
width:430px;
height:440px;
border:20px solid #000;
border-width:20px 5px;
background: #9F9; 
color:#fff;
padding:10px 10px;
cursor:default;
}

/* style the background and foreground color of the submenu links */
.g2 ul li:hover ul li a {
background:#333;
width:105px;
height:105px;
border:1px solid #ddd;
border-color:#888 #000 #000 #888;
}


/* keep the large image hidden */
.g2 ul li:hover ul li a em {
display:none;
}
/* add a border to the horizontal slide and position it centrally using a top margin */
.g2 ul li:hover ul li a.horiz span img {
border:1px solid #888;
margin:1px;
}
/* add a border to the vertical slide and position it centrally using a top margin */
.g2 ul li:hover ul li a.vert span img {
border:1px solid #888;
margin-top:9px;
}

.g2 ul li:hover ul li a:hover {
background:#000;
}


/* make the active links zero size so the active dotted border does not show through the large image */


/* make the large image visible and set the border, position them using position absolute centrally over the slides */
/* horizontal large image styling */
.g2 ul li:hover ul li a.horiz:active em, .g2 ul li:hover ul li a.horiz:focus em {display:block; background:#ddd; position:absolute; left:400px; top:130px; width:640px; height:480px; z-index:200; z-index:500; cursor:default; border:1px solid #fff;}
.g2 ul li:hover ul li a.horiz:active em img, .g2 ul li:hover ul li a.horiz:focus em img {border:0;}

___________________________________

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: fixed;
	top: 33%;
	left: 33%;
	width: 25%;
	height: 25%;
	padding: 16px;
	border: 4px solid #9F9;
	background-color: black;
	opacity: 0.9;
	z-index:1002;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
  box-shadow: 0px 0px 20px rgba(55,255,55,0.8);
}